---
layout: page
title: Styleguide
permalink: /research/styleguide/
---
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<div class="container">

    <div class="row">
        {% include research/navigation.html %}

        <div class="col-xs-12 col-md-9">
            <h1>Styleguide</h1>
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi architecto beatae cumque cupiditate eius esse facere, ipsa magni nam nulla pariatur placeat, porro quisquam rerum sed, soluta vero voluptas!</p>

            <h2>Color</h2>
            <hr>
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <div class="card">
                        <div class="bg-primary h-7"></div>
                        <div class="card-block">
                            <h5>Primary</h5>
                            <span class="text-muted">#4A4FAF</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="card">
                        <div class="bg-green h-7"></div>
                        <div class="card-block">
                            <h5>Green</h5>
                            <span class="text-muted">#0C8F65</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="card">
                        <div class="bg-orange h-7"></div>
                        <div class="card-block">
                            <h5>Orange</h5>
                            <span class="text-muted">#FF7F28</span>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Typography</h2>
            <hr>
            <div class="card">
                <div class="card-block">
                    <h1>h1. Healthcare heading</h1>
                    <h2>h2. Healthcare heading</h2>
                    <h3>h3. Healthcare heading</h3>
                    <h4>h4. Healthcare heading</h4>
                    <h5>h5. Healthcare heading</h5>
                    <h6>h6. Healthcare heading</h6>
                </div>
                <div class="bg-faded">
                    {% capture typography %}{% include research/styleguide/typography.md %}{% endcapture %}
                    {{ typography | markdownify }}
                </div>
            </div>

            <h2>Iconography</h2>
            <hr>
            <p>Gebruik gemaakt van <a href="https://design.google.com/icons/" target="_blank">Material Icons</a></p>
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">account_box</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">contacts</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">assessment</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">dashboard</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">delete</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">delete_forever</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">https</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">highlight_off</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">control_point</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">info_outline</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">help_outline</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">do_not_disturb</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">schedule</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">search</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">visibility</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">visibility_off</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">settings</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">timeline</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">event</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">equalizer</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">hearing</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">fingerprint</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">business</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">phone</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">comment</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">forum</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">add_circle_outline</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">select_all</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">sort_by_alpha</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">sort</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">nfc</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">bubble_chart</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">memory</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">adjust</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">blur_circular</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">filter_tilt_shift</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">layers</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">chevron_left</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">chevron_right</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">expand_less</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">expand_more</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">more_vert</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">ac_unit</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">supervisor_account</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">group</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">person</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">person_add</span>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <span class="icon icon-lg">accessibility</span>
                </div>
            </div>
            <div class="bg-faded">
                {% capture iconography %}{% include research/styleguide/iconography.md %}{% endcapture %}
                {{ iconography | markdownify }}
            </div>

            <h2>Flash message</h2>
            <hr>
            <div class="card">
                <div class="card-block">
                    <div class="alert alert-success" role="alert">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </div>
                    <div class="alert alert-info" role="alert">
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </div>
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                </div>
                <div class="bg-faded">
                    {% capture flashmessage %}{% include research/styleguide/flashmessage.md %}{% endcapture %}
                    {{ flashmessage | markdownify }}
                </div>
            </div>

        </div>
    </div>
</div>