<footer class="container-fluid bg-faded p-t-3 p-b-3">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="">GitHub</a></li>
            <li class="list-inline-item"><a href="{{ site.baseurl }}/about">About</a></li>
        </ul>
        <p class="text-muted">Gemaakt door <a href="http://michielvandewalle.com/profile" target="_blank">Michiel Vandewalle</a> in het kader van afstudeer project aan de <a href="https://www.arteveldehogeschool.be/" target="_blank">Artevelde hogeschool</a></p>
        <p class="text-muted">{{ site.description }}</p>
    </div>
</footer>