<header class="container-fluid c-header">
    <div class="container">
        <div class="row">
            <a class="c-nav-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

            <nav class="c-nav-main">
                <ul class="c-nav-list">
                    <li class="c-nav-item">
                        <a href="/info" class="c-nav-link {% if page.url contains "info" %}is-selected{% endif %}">Info</a>
                    </li>
                    <li class="c-nav-item">
                    <a href="/research" class="c-nav-link {% if page.url contains "research" %}is-selected{% endif %}">Research</a>
                    </li>
                    <li class="c-nav-item">
                    <a href="/design" class="c-nav-link {% if page.url contains "design" %}is-selected{% endif %}">Design</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>
