.c-brand__logo {
  display: inline-block;
  width: 75px;
  margin-right: 20px;
  border: 1px solid $gray-lighter;
  border-radius: 6px;
}
.c-brand__name {
  display: inline-block;
  vertical-align: baseline;
}