.c-header {
  width: 100%;
  margin-bottom: 40px;
  background: rgba(0,0,0,0.8);
  @include media-breakpoint-up(md) {
    min-height: 52px;
  }
}
.c-nav-brand {
  float: left;
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color:  $color-alpha;
  &:hover, &:focus {
    text-decoration: none;
    color:  palette(color-alpha, light);
  }
}

.c-nav-btn {
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.c-nav-main {
  position: relative;

  .c-nav-list {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

  }
  .c-nav-item {
    float: left;
  }
  .c-nav-link {
    position: relative;
    display: block;
    padding: 1.125rem .5rem;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: $lead-font-weight;
    @include media-breakpoint-up(md) {
      padding: 1.125rem 1rem;
    }


    &:hover, &:focus, &.is-selected {
      opacity: 0.65;
    }
  }
}