.c-ideaboard {
  display: block;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left center;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

$ideaboard: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) !default;

@each $idea in $ideaboard {
  #idea-#{$idea} {
    background-image: url("../img/ideaboard/idea-#{$idea}.jpg");
  }
}