<div class="col-xs-12 col-md-3 m-b-3">
    <nav class="list-group">
        <a href="{{ site.baseurl }}/research" class="list-group-item list-group-item-heading">Features</a>
        <a href="{{ site.baseurl }}/research/interview" class="list-group-item {% if page.url contains "interview" %}active{% endif %}">Interviews</a>
        <a href="{{ site.baseurl }}/research/moodboard" class="list-group-item {% if page.url contains "moodboard" %}active{% endif %}">Technische specificaties</a>
    </nav>
</div>