<div class="col-xs-12 col-md-3 m-b-3">
    <nav class="list-group">
        <a href="{{ site.baseurl }}/research" class="list-group-item list-group-item-heading">Research</a>
        <a href="{{ site.baseurl }}/research/planning" class="list-group-item {% if page.url contains "planning" %}active{% endif %}">Planning</a>
        <a href="{{ site.baseurl }}/research/interview" class="list-group-item {% if page.url contains "interview" %}active{% endif %}">Interviews</a>
        <a href="{{ site.baseurl }}/research/technicalspecs" class="list-group-item {% if page.url contains "technicalspecs" %}active{% endif %}">Technische specificaties</a>
        <a href="{{ site.baseurl }}/research/functionalspecs" class="list-group-item {% if page.url contains "functionalspecs" %}active{% endif %}">Functionele specificaties</a>
        <a href="{{ site.baseurl }}/research/ideaboard" class="list-group-item {% if page.url contains "ideaboard" %}active{% endif %}">Ideaboard</a>
        <a href="{{ site.baseurl }}/research/wireframes" class="list-group-item {% if page.url contains "wireframes" %}active{% endif %}">Wireframes</a>
        <a href="{{ site.baseurl }}/research/screendesigns" class="list-group-item {% if page.url contains "screendesigns" %}active{% endif %}">Screendesigns</a>
        <a href="{{ site.baseurl }}/research/styleguide" class="list-group-item {% if page.url contains "styleguide" %}active{% endif %}">Styleguide</a>
    </nav>
</div>