<div class="col-md-3">
    <nav>
        <div class="list-group">
            <a href="{{ site.baseurl }}/research" class="list-group-item">Research</a>
            <a href="{{ site.baseurl }}/research/interview" class="list-group-item {% if page.url contains "interview" %}active{% endif %}">Interviews</a>
            <a href="{{ site.baseurl }}/research/moodboard" class="list-group-item {% if page.url contains "moodboard" %}active{% endif %}">Technische specificaties</a>
            <a href="{{ site.baseurl }}/research/ideaboard" class="list-group-item {% if page.url contains "ideaboard" %}active{% endif %}">Ideaboard</a>
            <a href="{{ site.baseurl }}/research/wireframes" class="list-group-item {% if page.url contains "wireframes" %}active{% endif %}">Wireframes</a>
            <a href="{{ site.baseurl }}/research/screendesigns" class="list-group-item {% if page.url contains "screendesigns" %}active{% endif %}">Screendesigns</a>
            <a href="{{ site.baseurl }}/research/styleguide" class="list-group-item {% if page.url contains "styleguide" %}active{% endif %}">Styleguide</a>
        </div>
    </nav>
</div>